@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section title
{
    <title>Việc làm đã lưu | TopCV.vn</title>


}

@section linkCss
{
    <link rel="stylesheet" href="../css/viecLamDaLuu.css">

}
<div id="main">
    <div class="container" id="box-save-job">
        <div class="box-white">
            <div class="banner">
                <div class="content">
                    <h5 class="title">Việc đã lưu</h5>
                    <p class="description">
                        Xem lại danh sách những việc làm mà bạn đã lưu trước đó. Ứng tuyển ngay để không bỏ lỡ cơ hội
                        nghề nghiệp dành cho bạn.
                    </p>
                </div>
                <div class="image">
                    <img src="https://static.topcv.vn/v4/image/featured-job-list/arrow_desktop.png" alt="Việc làm từ xa (remote) background" title="Việc làm từ xa (remote) background" class="w-100">
                </div>
            </div>
            <!-- LIST TRỐNG -->
            <div class="empty hidden">
                <img src="https://static.topcv.vn/v4/image/empty.png" alt="Empty">
                <p>Bạn chưa lưu công việc nào!</p>
                <a href="" class="btn-seatch-job btn-primary-hover">Tìm việc ngay</a>
            </div>
            <!-- END -->
            <div class="box-job-total">Danh sách <b> 1 </b>việc làm đã lưu</div>

            <div class="job-detail__related-jobs--content">
                <!-- START CONTAINER-JOB-ITEM -->
                <div class="job-item d-flex g-15">
                    <div class="job-item__ava flex-1">
                        <img src="../img/cong-ty-tnhh-streamcast-asia-viet-nam-62c4f53430d3a.webp" alt="">
                    </div>
                    <div class="job-item__body">
                        <div class="job-item__body__content">
                            <div class="title-block d-flex">
                                <div class="title-left flex 2">
                                    <h6 class="font-weight-6 mb-1 ">Kế toán kho và Thanh toán - Đi làm ngay</h6>
                                    <div class="company-name">Công ty TNHH Dịch vụ thang máy unieco nhật bản</div>
                                </div>
                                <div class="title-right text-green font-weight-6 flex 1">9 - 11 triệu</div>
                            </div>
                            <div class="info d-flex justify-content-between">
                                <div class="lable-content d-flex g-15">
                                    <div class="lable-content-item">Hà Nội</div>
                                    <div class="lable-content-item">Còn <b> 10 </b> ngày để ứng tuyển</div>
                                    <div class="lable-content-item">Cập nhật 4 giờ trước</div>
                                </div>
                                <div class="icon">
                                    <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                    <a href="" class="btn-unsave job-detail__information-detail--actions-button"><i class="fa-solid fa-trash me-2"></i>Bỏ lưu</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!-- END CONTAINER-JOB-ITEM -->
            </div>

        </div>
    </div>
</div>