
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/caiDatTK.css" />
}
<div class="page-container">
    <div class="breadcrumb-box">
        <div class="breadcrumb-text">
            <h6 class="mb-0 fw-bolder">Cài đặt tài khoản</h6>
        </div>
        
    </div>

    <div class="container-fluid page-content">
            <div class="d-flex shadow-sm">
                <div>
                    <div class="list-group rounded">
                        <a href="#" aria-current="page" class="list-item border-0 active">
                            <i class="fa fa-lock me-2"></i> 
                            Đổi mật khẩu
                        </a>
                        <a href="#" class="list-item border-0">
                            <i class="fa fa-user me-2"></i> 
                            Thông tin cá nhân 
                        </a>
                        <a href="#" class="list-item border-0">
                            <i class="fa fa-building me-2"></i> 
                            Thông tin công ty 
                        </a>
                    </div>
                </div>
                 <div class="bg-white w-100 rounded">
                     <div>
                        <form>
                            <div class="card-header bg-white font-weight-bold border-0 fw-bolder">
                                Thay đổi mật khẩu
                            </div> 
                            <div class="card-body setting-form">
                                <div class="form-group row d-flex mb-3">
                                    <label class="col-sm-3 col-form-label">Mật khẩu hiện tại</label> 
                                    <div class="col-sm-9">
                                        <input autocomplete="true" placeholder="Nhập mật khẩu hiện tại" type="password" class="form-control">
                                    </div> 
                                </div> 
                                <div class="form-group row d-flex mb-3">
                                    <label class="col-sm-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="true" placeholder="Nhập mật khẩu mới" type="password" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group row d-flex mb-3">
                                    <label class="col-sm-3 col-form-label">Nhập lại mật khẩu</label>
                                    <div class="col-sm-9">
                                        <input autocomplete="true" placeholder="Nhập lại mật khẩu mới" type="password" class="form-control"> 
                                    </div>
                                </div>
                                <div class="form-group row d-flex mb-3">
                                    <div class="col-sm-9 offset-sm-3">
                                        <input type="checkbox" class="has-logout-all-device"> 
                                        <label for="has-logout-all-device" class="has-logout-all-device">Thoát tất cả các phiên bản đăng nhập hiện tại</label>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-sm-9 offset-sm-3">
                                    <a href="#" class="btn-cancel btn me-2 bg-blue">Hủy</a>
                                    <button type="submit" class="btn-update btn text-white bg-green">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                           
                        </form>
                    </div>  
                 </div>   
            </div>
        
    </div>
</div>
