@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section title
{
    <title>Việc làm IT</title>
}

@section linkCss
{
    <link rel="stylesheet" href="../css/viecLamIT.css">
}

<div class="main">
    <div class="container">
        <div class="banner d-flex">
            <div class="content">
                <h3 class="title font-weight-6 ">Việc làm IT</h3>
                <p class="description">Việc làm IT xịn dành cho Developer chất</p>
                <div class="label-tag">
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Backend</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Frontend</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i>Tester</label>
                    <label class="label-remote font-weight-6"><i class="fa-solid fa-circle-check me-1"></i> Business Analyst</label>

                </div>
            </div>
            <div class="img">
                <img src="../img/arrow_desktop.png" alt="">
            </div>
        </div>
        <div class="box-search">
            <form id="frm-search-job" method="GET" class="d-flex">
                <div class="form-group input-data border-hover">
                    <i class=" text-green fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="keyword" name="keyword" placeholder="Tên công việc, vị trí bạn muốn ứng tuyển...">
                </div>
                <div class="form-group border-hover category input-data">
                    <i class=" text-green bi bi-building-fill"></i>
                    <select name="company-filed" id="company-field-advanced">
                        <option value="">Tất cả lĩnh vực</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                    </select>
                </div>

                <div class="form-group border-hover category input-data">
                    <i class=" text-green fa-solid fa-chalkboard-user"></i>
                    <select name="position" id="position">
                        <option value="">Tất cả cấp bậc</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                    </select>
                </div>

                <div class="form-group border-hover category input-data">
                    <i class=" text-green fa-solid fa-money-bill"></i>
                    <select name="position" id="position">
                        <option value="">Tất cả mức lương</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                        <option value="">IT phần mềm</option>
                    </select>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-search-job d-flex g-10 align-items-center font-weight-6">
                        <i class=" fa-solid fa-magnifying-glass"></i> Tìm kiếm
                    </button>
                </div>
            </form>
        </div>
        <div class="job-detail__related-jobs--content ">
            <!-- START CONTAINER-JOB-ITEM -->
            <div class="job-item d-flex g-15">
                <div class="job-item__ava flex-1">
                    <img src="../img/cong-ty-tnhh-streamcast-asia-viet-nam-62c4f53430d3a.webp" alt="">
                </div>
                <div class="job-item__body">
                    <div class="job-item__body__content">
                        <div class="title-block d-flex">
                            <div class="title-left flex 2">
                                <h6 class="font-weight-6 mb-1 ">Kế toán kho và Thanh toán - Đi làm ngay</h6>
                                <div class="company-name">Công ty TNHH Dịch vụ thang máy unieco nhật bản</div>
                            </div>
                            <div class="title-right text-green font-weight-6 flex 1">9-11 triệu</div>
                        </div>
                        <div class="info d-flex justify-content-between">
                            <div class="lable-content d-flex g-15">
                                <div class="lable-content-item">Hà Nội</div>
                                <div class="lable-content-item">Còn <b> 10 </b> ngày để ứng tuyển</div>
                                <div class="lable-content-item">Cập nhật 4 giờ trước</div>
                            </div>
                            <div class="icon">
                                <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                <a href="" class="btn-save-job"><i class="bi bi-heart font-weight-6"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- END CONTAINER-JOB-ITEM -->
            <!-- START CONTAINER-JOB-ITEM -->
            <div class="job-item d-flex g-15">
                <div class="job-item__ava flex-1">
                    <img src="../img/cong-ty-tnhh-streamcast-asia-viet-nam-62c4f53430d3a.webp" alt="">
                </div>
                <div class="job-item__body">
                    <div class="job-item__body__content">
                        <div class="title-block d-flex">
                            <div class="title-left flex 2">
                                <h6 class="font-weight-6 mb-1 ">Kế toán kho và Thanh toán - Đi làm ngay</h6>
                                <div class="company-name">Công ty TNHH Dịch vụ thang máy unieco nhật bản</div>
                            </div>
                            <div class="title-right text-green font-weight-6 flex 1">9-11 triệu</div>
                        </div>
                        <div class="info d-flex justify-content-between">
                            <div class="lable-content d-flex g-15">
                                <div class="lable-content-item">Hà Nội</div>
                                <div class="lable-content-item">Còn <b> 10 </b> ngày để ứng tuyển</div>
                                <div class="lable-content-item">Cập nhật 4 giờ trước</div>
                            </div>
                            <div class="icon">
                                <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                <a href="" class="btn-save-job"><i class="bi bi-heart font-weight-6"></i></a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!-- END CONTAINER-JOB-ITEM -->
            <!-- START CONTAINER-JOB-ITEM -->
            <div class="job-item d-flex g-15">
                <div class="job-item__ava flex-1">
                    <img src="../img/cong-ty-tnhh-streamcast-asia-viet-nam-62c4f53430d3a.webp" alt="">
                </div>
                <div class="job-item__body">
                    <div class="job-item__body__content">
                        <div class="title-block d-flex">
                            <div class="title-left flex 2">
                                <h6 class="font-weight-6 mb-1 ">Kế toán kho và Thanh toán - Đi làm ngay</h6>
                                <div class="company-name">Công ty TNHH Dịch vụ thang máy unieco nhật bản</div>
                            </div>
                            <div class="title-right text-green font-weight-6 flex 1">9-11 triệu</div>
                        </div>
                        <div class="info d-flex justify-content-between">
                            <div class="lable-content d-flex g-15">
                                <div class="lable-content-item">Hà Nội</div>
                                <div class="lable-content-item">Còn <b> 10 </b> ngày để ứng tuyển</div>
                                <div class="lable-content-item">Cập nhật 4 giờ trước</div>
                            </div>
                            <div class="icon">
                                <a class="job-detail__information-detail--actions-button btn-apply-job">Ứng tuyển</a>
                                <a href="" class="btn-save-job"><i class="bi bi-heart font-weight-6"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTAINER-JOB-ITEM -->

        </div>

    </div>
</div>