@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@section title
{
    <title>Chào mừn bạn đã quay trở lại | TopCV.vn</title>

}

@section linkCss
{
    <link rel="stylesheet" href="../css/dangNhap.css">

}

<div class="main">
    <div class="login-box">
        <h2>Chào mừng bạn đã quay trở lại</h2>
        <p>Cùng xây dựng một hồ sơ nổi bật và nhận được các cơ hội sự nghiệp lý tưởng</p>
        <form>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email">
            </div>
            <div class="input-group">
                <label for="password">Mật khẩu</label>
                <input type="password" id="password" placeholder="Mật khẩu">
            </div>

            <!-- Thêm radio buttons -->
            <div class="input-group">
                <div class="radio-group">
                    <div class="item">
                        <input type="radio" name="user-type" value="candidate" checked>
                        <label>
                            Ứng cử viên
                        </label>
                    </div>
                    <div class="item">
                        <input type="radio" name="user-type" value="recruiter" checked>
                        <label>
                            Nhà tuyển dụng
                        </label>
                    </div>


                </div>
            </div>

            <a href="#" class="forgot-password">Quên mật khẩu</a>
            <button type="submit" class="btn">Đăng nhập</button>
        </form>
        <p class="register">Bạn chưa có tài khoản? <a href="#">Đăng ký ngay</a></p>
        <p class="support">Bạn gặp khó khăn khi tạo tài khoản? Vui lòng gọi tới số <strong>(024) 6680 5588</strong> (giờ hành chính).</p>
    </div>

</div>
<div class="sidebar">
    <div class="icon">
        <img src="https://static.topcv.vn/v4/image/auth/topcv_white.png" alt="TopCV Icon">
        <img class="arrow" src="https://static.topcv.vn/v4/image/auth/auth_arrow.png" alt="Arrow Icon">
    </div>
    <h1>Tiếp lợi thế<br>Nối thành công</h1>
    <p>TopCV - Hệ sinh thái nhân sự tiên phong ứng dụng công nghệ tại Việt Nam</p>
</div>